.chromascreen{
  background-color: #00FF00;
  display: flex;
  flex-wrap: nowrap;
}
.body-left, .body-right{
    display: flex;
    flex-wrap: nowrap;
}
.body-right{
  margin-left: 263px;
}
.card-left{
    width: 750px;
    height: 40px;
    margin-left: 28px;
    display: flex;
    justify-content: center;
}
.card-right{
    width: 750px;
    height: 40px;
    margin-right: 28px;
    display: flex;
    justify-content: center;
}
.card-left img, .card-right img{
    width: 32px;
    height: 32px;
    padding: 0;
    margin-right: 20px;
    margin-top: 6px;
}
.nameplayer{
   margin-top: 4px;
}
.score-left{
  width: 50px;
  margin-top: 4px;
  justify-content: center;
}
.score-right{
  width: 50px;
  margin-top: 4px;
  justify-content: center;
}