.chromascreen{
  background-color: #00FF00;
}
.cards{
  display: flex;
  flex-wrap: nowrap;
}
.body-left, .body-right{
    display: flex;
    flex-wrap: nowrap;
}
.body-matchlabel{
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin: 75px auto;
  background-image: url('../public/background_match_label.png');
  background-size: cover;
}
.body-matchlabel p{
  font-size: 22px;
  justify-content: center;
  padding-top: 5px;
}
.body-right{
  margin-left: 263px;
}
.card-left{
    width: 750px;
    height: 40px;
    margin-left: 28px;
    display: flex;
    justify-content: center;
    background-image: url('../public/background_card_left.png');
    background-size: cover;
}
.card-right{
    width: 750px;
    height: 40px;
    margin-right: 28px;
    display: flex;
    justify-content: center;
    background-image: url('../public/background_card_right.png');
    background-size: cover;
}
.card-left img, .card-right img{
    width: 32px;
    height: 32px;
    padding: 0;
    margin-right: 20px;
    margin-top: 6px;
}
.nameplayer{
   margin-top: 4px;
}
.teamtag{
  margin: 8px 15px;
  font-size: 24px;
}
.score-left, .score-right{
  width: 40px;
  height: 40px;
  font-size: 34px;
  justify-content: center;
  text-align: center;
  background-image: url('../public/score_background.png');
  background-size: cover;
}
.merchan-area{
    display: flex;
    justify-content: center;
}
.slider-merchan{
  width: 150px;
  height: 150px;
  margin-top: 665px;
}